<section class="block container block-domain">
  <header class="block__header">
    <h3>Starting at $9 per months</h3>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nam, eveniet!
    </p>
  </header>
  <div class="input-group">
    <input
      type="text"
      class="input"
      placeholder="Enter your Domain name here ..."
    />
    <button class="btn btn--accent">
      <svg class="icon icon--primary">
        <use xlink:href="images/sprite.svg#search"></use></svg
      >Search
    </button>
  </div>
  <ul class="lists block-domain__prices">
    <li><span class="badge badge--secondary">.com $9</span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
</section>
