<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Starts and Managed Updates</h3>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odio perferendis expedita maiores iste, repellat
            quod. Voluptatum ducimus perspiciatis nulla doloribus reprehenderit impedit. Eligendi quo nulla nemo facere,
            enim quidem tenetur.
        </p>

    </div>
</div>